<div class="form-membership">
  <div class="form-wrapper">
    <div id="logo">
      <img class="header-logo" src="./assets/image/your-cast-logo-black.png" alt="image">
    </div>
    <h5>Create account</h5>
    <form [formGroup]="form">
      <div class="form-group">
        <input type="text" formControlName="name" class="form-control" placeholder="Name" required>
      </div>
      <div class="form-group">
        <input type="email" formControlName="email" class="form-control" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input type="password" formControlName="passwordConfirmation" class="form-control" placeholder="Password" required>
      </div>
      <button class="btn btn-primary btn-block" (click)="register()">Register</button>
      <hr>
      <p class="text-muted">Already have an account?</p>
      <a href="/auth/login" class="btn btn-outline-light btn-sm">Sign in!</a>
    </form>
  </div>
</div>
