.w-450 {
  width: 450px;
}

.display-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.w-70 {
  width: 70px;
}

table tr:hover {
  background-color: #f4f5fd;
}

.navigate-link {
  cursor: pointer;
}
