<div class="form-membership">
  <div class="form-wrapper">
    <div id="logo">
      <img class="header-logo" src="./assets/image/your-cast-logo-black.png" alt="image">
    </div>
    <h5>Reset password</h5>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username or email" required autofocus>
      </div>
      <button class="btn btn-primary btn-block">Submit</button>
      <hr>
      <p class="text-muted">Take a different action.</p>
      <a routerLink="/auth/registration" class="btn btn-sm btn-outline-light mr-1">Register now!</a>
      or
      <a href="/auth/login" class="btn btn-sm btn-outline-light ml-1">Login!</a>
    </form>
  </div>
</div>
