<div class="horizontal-navigation">
  <div class="layout-wrapper">
    <div class="header d-print-none">
      <div class="header-container">
        <div class="header-left">
          <div class="navigation-toggler">
            <a href="#" data-action="navigation-toggler">
              <i data-feather="menu"></i>
            </a>
          </div>

          <div class="header-logo">
            <a routerLink="/dashboard">
              <img class="logo" src="./assets/image/your-cast-logo-white.png" alt="logo">
            </a>
          </div>
        </div>

        <div class="header-body">
          <div class="header-body-left">

          </div>

          <div class="header-body-right">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link nav-link-notify" title="Notifications" data-toggle="dropdown">
                  <i data-feather="bell"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                  <div
                    class="border-bottom px-4 py-3 text-center d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Notifications</h5>
                    <small class="opacity-7">2 unread notifications</small>
                  </div>
                  <div class="dropdown-scroll">
                    <ul class="list-group list-group-flush">
                      <li class="px-4 py-2 text-center small text-muted bg-light">Today</li>
                      <li class="px-4 py-3 list-group-item">
                        <a href="#" class="d-flex align-items-center hide-show-toggler">
                          <div class="flex-shrink-0">
                            <figure class="avatar mr-3">
                              <span
                                class="avatar-title bg-info-bright text-info rounded-circle">
                                  <i class="ti-lock"></i>
                              </span>
                            </figure>
                          </div>
                          <div class="flex-grow-1">
                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                              2 steps verification
                              <i title="Mark as read" data-toggle="tooltip"
                                 class="hide-show-toggler-item fa fa-circle-o font-size-11"></i>
                            </p>
                            <span class="text-muted small">20 min ago</span>
                          </div>
                        </a>
                      </li>
                      <li class="px-4 py-2 text-center small text-muted bg-light">Old Notifications</li>
                      <li class="px-4 py-3 list-group-item">
                        <a href="#" class="d-flex align-items-center hide-show-toggler">
                          <div class="flex-shrink-0">
                            <figure class="avatar mr-3">
                              <span
                                class="avatar-title bg-secondary-bright text-secondary rounded-circle">
                                  <i class="ti-file"></i>
                              </span>
                            </figure>
                          </div>
                          <div class="flex-grow-1">
                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                              1 person sent a file
                              <i title="Mark as unread" data-toggle="tooltip"
                                 class="hide-show-toggler-item fa fa-check font-size-11"></i>
                            </p>
                            <span class="text-muted small">Yesterday</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="px-4 py-3 text-right border-top">
                    <ul class="list-inline small">
                      <li class="list-inline-item mb-0">
                        <a href="#">Mark All Read</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a (click)="showUserDetail($event)" class="nav-link dropdown-toggle">
                  <figure class="avatar avatar-sm">
                    <img src="./assets/image/placeholder-image.png"
                         class="rounded-circle"
                         alt="avatar">
                  </figure>
                  <span class="ml-2 d-sm-inline d-none">{{ user.name }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big {{ showProfile ? 'show' : '' }}">
                  <div class="text-center py-4">
                    <figure class="avatar avatar-lg mb-3 border-0">
                      <img src="./assets/image/placeholder-image.png"
                           class="rounded-circle" alt="image">
                    </figure>
                    <h5 class="text-center">{{ user.name }}</h5>
                    <div class="mb-3 small text-center text-muted">{{ user.email }}</div>
                    <a href="#" class="btn btn-outline-light btn-rounded">Manage Your Account</a>
                  </div>
                  <div class="list-group">
                    <a routerLink="/dashboard" class="list-group-item">Profile</a>
                    <a (click)="logOut()" class="list-group-item text-danger">Sign Out!</a>
                  </div>
                  <div class="p-4">
                    <div class="mb-4">
                      <h6 class="d-flex justify-content-between">
                        Storage
                        <span>%25</span>
                      </h6>
                      <div class="progress" style="height: 5px;">
                        <div class="progress-bar bg-success-gradient" role="progressbar" style="width: 40%;"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <hr class="mb-3">
                    <p class="small mb-0 disabled">
                      <a>Billing</a>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item header-toggler">
            <a href="#" class="nav-link">
              <i data-feather="arrow-down"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="navigation">
        <div class="navigation-menu-body">
          <ul>
            <li>
              <a class="active" routerLink="/dashboard">
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a routerLink="/dashboard">
                <span>Shows</span>
              </a>
              <ul>
                <li>
                  <a routerLink="/dashboard">Chat<span class="badge badge-danger">1</span></a>
                </li>
                <li>
                  <a routerLink="/dashboard">Invoice</a>
                </li>
              </ul>
            </li>
            <li>
              <a routerLink="/dashboard"><span>Mailing</span></a>
              <ul>
                <li>
                  <a routerLink="/dashboard">Basic</a>
                </li>
                <li>
                  <a routerLink="/dashboard">Alert</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="content-body">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
