<!-- Loading bar -->
<!--<fuse-loading-bar></fuse-loading-bar>-->

<div class="flex flex-col flex-auto items-center w-full min-w-0 bg-gray-200 dark:bg-card">
  <div class="relative flex flex-col flex-0 justify-center w-full h-16 sm:h-20 md:h-36 overflow-hidden z-49 shadow dark:shadow-none print:hidden">
    <div class="relative dark flex flex-auto justify-center w-full px-4 md:px-8 bg-gray-800 dark:bg-gray-900">
      <div class="flex items-center w-full max-w-360 h-16 sm:h-20">
        <ng-container *ngIf="!isScreenSmall">
          <div class="flex items-center">
            <img
              class="w-24"
              src="assets/image/your-cast-logo-white.png"
              alt="Logo image">
          </div>
        </ng-container>

        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
          <notifications></notifications>
<!--          <user></user>-->
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-auto justify-center w-full sm:p-6 md:p-8">
    <div class="flex flex-col flex-auto w-full sm:max-w-360 sm:shadow-lg sm:rounded-lg sm:overflow-hidden bg-default">
      <router-outlet *ngIf="true"></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
