<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
    <div class="w-full max-w-screen-xl mx-auto">
      <mat-tab-group class="sm:px-2" mat-stretch-tabs="false">
        <mat-tab label="Shows">
          <ng-template matTabContent>
            <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0">
              <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Shows</div>
                <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                  <table class="min-w-240 overflow-y-visible" mat-table [dataSource]="episodes">

                    <ng-container matColumnDef="type" sticky>
                      <th mat-header-cell *matHeaderCellDef>Type</th>
                      <td mat-cell *matCellDef="let budget">
                          <span class="flex items-center">
                              <span class="w-2 h-2 rounded-full"
                                    [ngClass]="{'bg-blue-500': budget.id === 1,
                                              'bg-red-500': budget.id === 2,
                                              'bg-green-500': budget.id === 3,
                                              'bg-amber-500': budget.id === 4,
                                              'bg-indigo-500': budget.id === 5}"></span>
                              <span class="ml-3 leading-4">{{ budget.type }}</span>
                          </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef>Total Budget</th>
                      <td mat-cell *matCellDef="let budget">
                        <span class="font-medium text-right">

                        </span>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
